.container{    
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    margin: 0 auto;

@include mobile {
    width: 375px;
  }

   @include desktop {
    width: 1240px;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-left: 12px;
    padding-right: 12px;
  }
}