:root{
    --main-color: #f8f8f8;
    --second-color:#000600;
    --accent-color: #011901;
    --hover-color: #099F07;
    --disable-color: #ABABAB;
    --background-color: #444141;
    --background-image: linear-gradient(to  top left, #000400 0%, #011901 13%, #013701 19%, #011901 28%, #000800 46%, #000400 50%, #011801 69%, #013701 82%, #011901 88%, #000400 100%);
    --background-image-card: linear-gradient(to bottom right, #5AE85A 15%, #999999 100%);
    --backgroung-image-products: linear-gradient(245deg, #4FDB4E 60%, #C0B7B7 60%);
    --main-font: "Source Sans 3", system-ui;
    --time-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}