:root{
    --main-color: #f8f8f8;
    --accent-color: #011901;
    --hover-color: #099F07;
    --disable-color: #ABABAB;
    --background-color: #444141;
    --main-font: Source Sans 3, sans-serif;
    --time-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}