<section class="about" id="about">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">Про нас</h2>
            <div class="close-line"></div>
        </div>
        
        <ul class="about-list list">
            <li class="about-list_item">                    
                <svg class="about-list_icon" width="48" height="48">
                    <use href="./images/icons.svg#university"></use>
                </svg>
                <p class="about-list_text">Розробка методики використання препаратів MIR проводилася в тісній співпраці з Херсонським державним аграрним університетом</p>     
            </li>
            <li class="about-list_item">                    
                <svg class="about-list_icon" width="48" height="48">
                    <use href="./images/icons.svg#briefcase"></use>
                </svg>
                <p class="about-list_text">Про застосування препарату MIR написано більше 10 наукових статей та захищено дисертацію на здобуття наукового ступеня кандидата с/г наук</p>            
            </li>                
            <li class="about-list_item">                    
                <svg class="about-list_icon" width="48" height="48">
                    <use href="./images/icons.svg#license"></use>
                </svg>
                <p class="about-list_text">У 2017 році препарат MIR було включено до інформаційного збірника “Інноваційні розробки університетів і наукових установ МОН України”</p>        
            </li>
            <li class="about-list_item">                    
                <svg class="about-list_icon" width="48" height="48">
                    <use href="./images/icons.svg#tractor"></use>
                </svg>
                <p class="about-list_text">Польові випробування  проводились на приватних земельних ділянках  і на землях дослідних інститутів НАН України з 2011 року</p>        
            </li>
        </ul>        
    </div>
</section>