<section class="about" id="about">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">About Us</h2>
            <div class="close-line"></div>
        </div>
        
        <ul class="about-list list">
            <li class="about-list_item">                    
                <svg class="about-list_icon" width="48" height="48">
                    <use href="./images/icons.svg#university"></use>
                </svg>
                <p class="about-list_text">The methodology for using MIR products was developed in close collaboration with the Kherson State Agrarian University.</p>     
            </li>
            <li class="about-list_item">                    
                <svg class="about-list_icon" width="48" height="48">
                    <use href="./images/icons.svg#briefcase"></use>
                </svg>
                <p class="about-list_text">More than 10 scientific articles have been published on the use of the MIR product, and a PhD thesis in agricultural sciences has been defended.</p>            
            </li>                
            <li class="about-list_item">                    
                <svg class="about-list_icon" width="48" height="48">
                    <use href="./images/icons.svg#license"></use>
                </svg>
                <p class="about-list_text">In 2017, the MIR product was included in the information collection "Innovative Developments of Universities and Scientific Institutions of the Ministry of Education and Science of Ukraine."</p>        
            </li>
            <li class="about-list_item">                    
                <svg class="about-list_icon" width="48" height="48">
                    <use href="./images/icons.svg#tractor"></use>
                </svg>
                <p class="about-list_text">Field trials have been conducted on private land plots and on research institute lands of the National Academy of Sciences of Ukraine since 2011.</p>        
            </li>
        </ul>        
    </div>
</section>