<section class="advantages" id="advantages">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">Advantages</h2>
            <div class="close-line"></div>
        </div>
        <ul class="advantages-list list">
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture >
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage1-winter-desktop-1x.jpg 1x,
                            ./images/advantages/advantage1-winter-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/advantages/advantage1-winter-mobile-1x.jpg 1x,
                            ./images/advantages/advantage1-winter-mobile-1x.jpg 2x"/>
                        <img  class="advantages_item_img" src="./images/advantages/advantage1-winter-mobile-1x.jpg" alt="Wheat under snow" />                       
                    </picture>          
                    <p class="advantages_item_text">Increases plant resistance to frost, moisture deficiency, second-harvest planting, diseases, etc.</p>
                </div>
            </li>
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture >
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage2-root-desktop-1x.jpg 1x,
                            ./images/advantages/advantage2-root-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/advantages/advantage2-root-mobile-1x.jpg 1x,
                            ./images/advantages/advantage2-root-mobile-1x.jpg 2x"/>
                        <img  class="advantages_item_img" src="./images/advantages/advantage2-root-mobile-1x.jpg" alt="wheat roots" />                       
                    </picture>                
                    <p class="advantages_item_text">Promotes the active development and deeper penetration of the root system.</p>
                </div>
            </li>
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage3-greenfield-desktop-1x.jpg 1x,
                            ./images/advantages/advantage3-greenfield-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/advantages/advantage3-greenfield-mobile-1x.jpg 1x,
                            ./images/advantages/advantage3-greenfield-mobile-1x.jpg 2x"/>
                        <img  class="advantages_item_img" src="./images/advantages/advantage3-greenfield-mobile-1x.jpg" alt="Green field" />                     
                    </picture>                
                    <p class="advantages_item_text">Speeds up the growth of green mass and increases yield by 10-25&#37;</p>
                </div>
            </li>
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage4-wheat-desktop-1x.jpg 1x,
                            ./images/advantages/advantage4-wheat-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/advantages/advantage4-wheat-mobile-1x.jpg 1x,
                            ./images/advantages/advantage4-wheat-mobile-1x.jpg 2x"/>
                        <img  class="advantages_item_img" src="./images/advantages/advantage4-wheat-mobile-1x.jpg" alt="golden wheat field" />                    
                    </picture>                
                    <p class="advantages_item_text">Reduces nitrogen fertilizer consumption by 50&#37; due to improved plant absorption.</p>
                </div>
            </li>
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage5-sunflower-desktop-1x.jpg 1x,
                            ./images/advantages/advantage5-sunflower-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/advantages/advantage5-sunflower-mobile-1x.jpg 1x,
                            ./images/advantages/advantage5-sunflower-mobile-1x.jpg 2x"/>
                        <img  class="advantages_item_img" src="./images/advantages/advantage5-sunflower-mobile-1x.jpg" alt="sunflower field" />                        
                    </picture>                
                    <p class="advantages_item_text">Improves field germination of seeds and boosts plant growth energy.</p>
                </div>
            </li>
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage6-vegetables-desktop-1x.jpg 1x,
                            ./images/advantages/advantage6-vegetables-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/advantages/advantage6-vegetables-mobile-1x.jpg 1x,
                            ./images/advantages/advantage6-vegetables-mobile-1x.jpg 2x"/>
                        <img  class="advantages_item_img" src="./images/advantages/advantage6-vegetables-mobile-1x.jpg" alt="Vegetables" />                        
                    </picture>                
                    <p class="advantages_item_text">Strengthens immunity and resistance to bacterial and fungal diseases.</p>
                </div>
            </li>
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage7-corn-desktop-1x.jpg 1x,
                            ./images/advantages/advantage7-corn-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/advantages/advantage7-corn-mobile-1x.jpg 1x,
                            ./images/advantages/advantage7-corn-mobile-1x.jpg 2x"/>
                        <img  class="advantages_item_img" src="./images/advantages/advantage7-corn-mobile-1x.jpg" alt="Corn" />                        
                    </picture>                
                    <p class="advantages_item_text">Improves product quality (gluten content, proteins, starch, sugar, etc.).</p>
                </div>
            </li>
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage8-soil-desktop-1x.jpg 1x,
                            ./images/advantages/advantage8-soil-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/advantages/advantage8-soil-mobile-1x.jpg 1x,
                            ./images/advantages/advantage8-soil-mobile-1x.jpg 2x"/>
                        <img  class="advantages_item_img" src="./images/advantages/advantage8-soil-mobile-1x.jpg" alt="hand with green twig" />  
                    </picture>                
                    <p class="advantages_item_text">Does not harm soil, the end product, or the environment.</p>
                </div>
            </li>
            <li class="advantages-list_item">              
                <div class="advantages_item_wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/advantages/advantage9-perelik-desktop-1x.jpg 1x,
                            ./images/advantages/advantage9-perelik-desktop-2x.jpg 2x"/>                        
                        <img  class="advantages_item_img" src="./images/advantages/advantage9-perelik-desktop-1x.jpg" alt="Oficial document" /> 
                    </picture>                
                    <p class="advantages_item_text">MIR products are certified and listed in the Register of Pesticides and Agrochemicals Approved for Use in Ukraine.</p>
                </div>
            </li>
        </ul>
    </div>
</section>