<footer class="footer">
    <div class="container">
        <div class="footer-upper">
            <a class="link logo" href="./indexeng.html" aria-label="logo company MIR">
            <picture>
              <source
                media="(min-width:1240px)"
                srcset="./images/hero/logo-desktop-1x-min.png 1x,
                ./images/hero/logo-desktop-2x-min.png 2x"/>
              <source
                media="(min-width:375px)"
                srcset="./images/hero/logo-mobile-1x-min.png 1x,
                ./images/hero/logo-mobile-2x-min.png 2x"/>
              <img  class="footer-logo-img" src="./images/hero/logo-mobile-1x-min.png" alt="logo company" />
            </picture>      
            </a>
            <div class="footer-down">
            <div class="footer-adress">
                <ul class="footer-adress_list list">
                    <li class="footer-adress_item">
                        <svg class="footer-adress_icon" width="24" height="24">
                            <use href="./images/icons.svg#envelope"></use>
                        </svg>
                        <p class="footer-adress_text">58018 Ukraine, Chernivtsy</p>
                    </li>
                    <li class="footer-adress_item">
                        <svg class="footer-adress_icon" width="24" height="24">
                            <use href="./images/icons.svg#phone"></use>
                        </svg>
                        <div class="phone-list">
                        <p class="footer-adress_text">+38-067-450-42-90</p>
                        <p class="footer-adress_text">+38-050-295-04-19</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-social">
            <ul class="footer-social_list list">
                <li class="footer-social_item">
                    <a href="https://t.me/tkulagina1974">
                    <svg class="footer-social_icon" width="24" height="24">
                        <use href="./images/icons.svg#telegram"></use>
                    </svg>
                    </a>
                </li>
                <li class="footer-social_item">
                    <a href="https://wa.me/380676504290">
                    <svg class="footer-social_icon" width="24" height="24">
                        <use href="./images/icons.svg#wattsUp"></use>
                    </svg>
                    </a>
                </li>
                <li class="footer-social_item">
                    <a href="https://www.facebook.com/profile.php?id=100079930453765">
                    <svg class="footer-social_icon" width="24" height="24">
                        <use href="./images/icons.svg#facebook"></use>
                    </svg>
                    </a>
                </li>
            </ul>
            </div>
            </div>
        </div>
            <a href="umovaeng.html" class="agreement-link link">
                <p class="agreement-text">Consent to the processing of personal data</p>
            </a>
          <div class="copyright-line"></div>
          <div class="copyright">
            
            <p class="copyright-text">&#169; All right received</p>
          </div>  
    </div>
</footer>