<section class="gallery">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">Галерея</h2>
            <div class="close-line"></div>
        </div>
       <div class="gallery_wrapper">
            <div class="mySlides fade">
                <div class="gallery_img-wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/gallery/gallery-rape-desktop-1x.jpg 1x,
                            ./images/gallery/gallery-rape-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/gallery/gallery-rape-mobile-1x.jpg 1x,
                            ./images/gallery/gallery-rape-mobile-1x.jpg 2x"/>
                        <img  class="gallery_img" src="./images/gallery/gallery-rape-mobile-1x.jpg" alt="Поле засіяне ріпаком" />                      
                    </picture>    
                </div>                
                <p class="gallery_img-text">Image by Michael Schwarzenberger from Pixabay</p>
            </div>
            <div class="mySlides fade">
                <div class="gallery_img-wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/gallery/gallery-grape-desktop-1x.jpg 1x,
                            ./images/gallery/gallery-grape-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/gallery/gallery-grape-mobile-1x.jpg 1x,
                            ./images/gallery/gallery-grape-mobile-1x.jpg 2x"/>
                        <img  class="gallery_img" src="./images/gallery/gallery-grape-mobile-1x.jpg" alt="Виноградник з гронкою синього винограду" />                      
                    </picture>    
                </div>                
                <p class="gallery_img-text">Image by Michael Schwarzenberger from Pixabay</p>
            </div>
            <div class="mySlides fade">
                <div class="gallery_img-wrap">
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/gallery/gallery-corn-desktop-1x.jpg 1x,
                            ./images/gallery/gallery-corn-desktop-2x.jpg 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/gallery/gallery-corn-mobile-1x.jpg 1x,
                            ./images/gallery/gallery-corn-mobile-1x.jpg 2x"/>
                        <img  class="gallery_img" src="./images/gallery/gallery-corn-mobile-1x.jpg" alt="Поле засіяне кукурудзою" />                      
                    </picture>    
                </div>                
                <p class="gallery_img-text">Image by Public Domaine Pictires Pixabay</p>
            </div>
       </div>
    </div>
</section>