<section class="hero">
    <div class="container container-hero">
        <picture>
            <source
                media="(min-width:1240px)"
                srcset="./images/hero/hero-desktop-1x.png 1x,
                ./images/hero/hero-desktop-2x.png 2x"/>
            <source
                media="(min-width:375px)"
                srcset="./images/hero/hero-mobile-1x.png 1x,
                ./images/hero/hero-mobile-2x.png 2x"/>
            <img class="hero-img" src="./images/hero/hero-mobile-1x.png" alt="Продукція компанії" />
        </picture>
        <div class="hero_decription">
            <h1 class="hero_title">Інноваційні технології для агробізнесу</h1>
            <p class="hero_text">Багатоцільовий імунорегулятор росту та розвитку рослин MIR підвищує ефективність ЗЗР та добрив, сприяючи їхньому кращому проникненню, розподілу та дії. Препарат MIR дозволяє зменшити норму використання ЗЗР та добрив на 20-40% </p>
        
            <button class="hero-cta_btn cta_btn" type="button">Замовити</button>
        </div>
    </div>
</section>
