<section class="hero">
    <div class="container container-hero">
        <picture>
            <source
                media="(min-width:1240px)"
                srcset="./images/hero/hero-desktop-1x.png 1x,
                ./images/hero/hero-desktop-2x.png 2x"/>
            <source
                media="(min-width:375px)"
                srcset="./images/hero/hero-mobile-1x.png 1x,
                ./images/hero/hero-mobile-2x.png 2x"/>
            <img class="hero-img" src="./images/hero/hero-mobile-1x.png" alt="company products" />
        </picture>
        <div class="hero_decription">
            <h1 class="hero_title">Innovative Technologies for Agribusiness</h1>
            <p class="hero_text">The multipurpose immunoregulator of plant growth and development, MIR, enhances the effectiveness of plant protection products (PPP) and fertilizers by improving their absorption, distribution, and action. The MIR preparation allows for a 20-40% reduction in the use of PPP and fertilizers.</p>
        
            <a href="#order" class="cta_btn">Order Now</a>
        </div>
    </div>
</section>
