<section class="order buynow-js" id="order">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">Order Now</h2>
            <div class="close-line"></div>
        </div>
        <div class="order_section-content">
          <p class="order-text">To order or receive advice on the use of the multi-purpose immunoregulator of growth and development of plants MIR specifically on your farm - please fill out the form and our specialists will contact you</p>
       
          <div class="wrapper">
            <div class="form">
              <form action="#" id="form" class="form__body">                
                <div class="form__item">
                  <label for="formName" class="form__label">Name*:</label>
                  <input id="formName" 
                  type="text" name="name" 
                  class="form__input _req" 
                  placeholder="Enter your name"
                  pattern="[a-zA-Z]+">
                </div>
                <div class="form__item">
                  <label for="formPhone" class="form__label">Phone number*:</label>
                  <input id="formPhone" 
                  type="text" 
                  name="phone" 
                  class="form__input _req _phone"
                  placeholder="+38(123) 456 78 90"
                  data-slots="_">
                </div>
                <div class="form__item">
                  <label for="formType" class="form__label">What crops do you grow?*:</label>
                  <input id="formType" 
                  type="text" 
                  class="form__input _req _type" 
                  placeholder="Corn, wheat"
                  name="Product-type">
                </div>
                
                <div class="form__item">
                  <label for="formMessage" class="form__label">The text of your order or question:</label>
                  <textarea name="message" id="formMessage" class="form__input"></textarea>
                </div>
                
                <div class="form__item">
                  <div class="checkbox">
                    <input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input _req">
                    <label for="formAgreement" class="checkbox__label"><span class="agreement-lisence">I consent to the processing of personal data in accordance with the  <a href="umovaeng.html">Terms</a>*</span></label>
                  </div>
                </div>
                 
                <button class="cta_btn" type="submit">Submit</button>
              </form>
          </div>
        </div>       
    </div> 
</section>
