<section class="order buynow-js" id="order">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">Замовити</h2>
            <div class="close-line"></div>
        </div>
        <div class="order_section-content">
          <p class="order-text">Для замовлення або отримання консультації про застосування багатоцільового імунорегулятора росту та розвитку рослин MIR саме у Вашому господарстві - будь ласка, заповнить форму і наші фахівці зв'яжуться з Вами</p>
       
          <div class="wrapper">
            <div class="form">
              <form action="#" id="form" class="form__body">                
                <div class="form__item">
                  <label for="formName" class="form__label">П.І.Б.*:</label>
                  <input id="formName" 
                  type="text" name="name" 
                  class="form__input _req" 
                  placeholder="Павло Петрович Стешенко"
                  pattern="[a-zA-Z]+">
                </div>
                <div class="form__item">
                  <label for="formPhone" class="form__label">Вкажить номер Вашого телефону*:</label>
                  <input id="formPhone" 
                  type="text" 
                  name="phone" 
                  class="form__input _req _phone"
                  placeholder="+38(123) 456 78 90"
                  data-slots="_">
                </div>
                <div class="form__item">
                  <label for="formType" class="form__label">Яки сільгоспкультури вирощуєте?*:</label>
                  <input id="formType" 
                  type="text" 
                  class="form__input _req _type" 
                  placeholder="Кукурудза, ріпак, жито"
                  name="Product-type">
                </div>
                
                <div class="form__item">
                  <label for="formMessage" class="form__label">Текст Вашого замовлення чи питання:</label>
                  <textarea name="message" id="formMessage" class="form__input"></textarea>
                </div>
                
                <div class="form__item">
                  <div class="checkbox">
                    <input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input _req">
                    <label for="formAgreement" class="checkbox__label"><span class="agreement-lisence">Я даю згоду на обробку персональних даних, згідно з <a href="">Умовами</a>*</span></label>
                  </div>
                </div>
                 
                <button class="cta_btn" type="submit">Відправити</button>
              </form>
             
          
            
          
          </div>
        </div>    
          
      
        
    </div> 
</section>
