<section class="personaldata">
    <div class="container">
        <a href="./index.html#order">
            <svg class="backArrow_icon" width="40" height="40">
                <use href="./images/icons.svg#backArrow"></use>
            </svg>
        </a>
        <h2 class="section_lable personal">Умови використання та обробки персональних даних</h2>
        <ul class="list">
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Збір та обробка персональних даних</h3>
                <p class="personaldata_list-item">Відповідно до Закону України «Про захист персональних даних» та Загального регламенту захисту даних (GDPR), надані вами персональні дані (ім'я, прізвище, електронна пошта, телефонний номер) збираються, обробляються та зберігаються з метою забезпечення надання запитуваної інформації, а також з метою вдосконалення наших послуг. Передача цих даних є добровільною, але необхідною для надання відповідей на ваші запити.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Мета обробки даних</h3>
                <p class="personaldata_list-item">Надані вами дані використовуватимуться виключно для зв'язку з вами та надання додаткової інформації щодо наших послуг, а також для подальшого покращення обслуговування.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Зберігання та захист персональних даних</h3>
                <p class="personaldata_list-item">Ми зобов'язуємося вживати всіх необхідних технічних і організаційних заходів для захисту ваших персональних даних від незаконного доступу, зміни, розголошення або знищення. Дані зберігаються в захищених базах даних та обробляються тільки уповноваженими особами.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Права суб'єкта персональних даних</h3>
                <p class="personaldata_list-item">Відповідно до законодавства України та норм GDPR, ви маєте право: запитувати доступ до своїх персональних даних; вимагати виправлення чи видалення своїх персональних даних; відкликати свою згоду на обробку персональних даних;
                    заперечувати проти обробки ваших персональних даних; звернутися до контролюючих органів у разі порушення ваших прав.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Передача даних третім особам</h3>
                <p class="personaldata_list-item">Ми не передаємо ваші персональні дані третім особам без вашої попередньої згоди, за винятком випадків, коли це необхідно для виконання закону.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Згода на обробку персональних даних</h3>
                <p class="personaldata_list-item">Натискаючи кнопку «Підтвердити» або іншим чином залишаючи заявку на сайті, ви підтверджуєте, що ознайомлені з цими умовами та надаєте свою згоду на обробку ваших персональних даних згідно з цими умовами.</p>
            </li>
        </ul>
        <p>Примітка: Ви маєте право у будь-який момент відкликати свою згоду на обробку персональних даних, звернувшись до нас.</p>
    </div>
</section>