<section class="personaldata">
    <div class="container">
        <h2 class="section_lable personal">Terms of use and processing of personal data</h2>
        <ul class="list">
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Collection and processing of personal data</h3>
                <p class="personaldata_list-item">In accordance with the Law of Ukraine "On the Protection of Personal Data" and the General Data Protection Regulation (GDPR), the personal data provided by you (name, surname, e-mail, phone number) is collected, processed and stored for the purpose of providing the requested information, as well as in order to improve our services. The transfer of this data is voluntary, but necessary to respond to your requests.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Purpose of data processing</h3>
                <p class="personaldata_list-item">The data you provide will be used exclusively to contact you and provide additional information about our services, as well as to further improve the service.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Storage and protection of personal data</h3>
                <p class="personaldata_list-item">We undertake to take all necessary technical and organizational measures to protect your personal data from illegal access, modification, disclosure or destruction. Data is stored in secure databases and processed only by authorized persons.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Rights of the subject of personal data</h3>
                <p class="personaldata_list-item">In accordance with the legislation of Ukraine and GDPR regulations, you have the right to: request access to your personal data; request correction or deletion of your personal data; withdraw your consent to the processing of personal data;
                    object to the processing of your personal data; contact the regulatory authorities in case of violation of your rights.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Transfer of data to third parties</h3>
                <p class="personaldata_list-item">We do not transfer your personal data to third parties without your prior consent, except when necessary to comply with the law.</p>
            </li>
            <li class="personaldata_list">
                <h3 class="personaldata_list-title">Consent to the processing of personal data</h3>
                <p class="personaldata_list-item">By clicking the "Confirm" button or otherwise leaving a request on the site, you confirm that you have read these terms and conditions and give your consent to the processing of your personal data in accordance with these terms.</p>
            </li>
        </ul>
        <p>Note: You have the right to withdraw your consent to the processing of personal data at any time by contacting us.</p>
    </div>
</section>