<section class="products" id="products">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">Продукція</h2>
            <div class="close-line"></div>
        </div>
        <div class="product_descript">
            <p class="product_decript-up">Матричний розчин препарату застосовується як окремо так і в бакових сумішах їз ЗЗР та розчинними добривами (стимуляторами)</p>
            <p class="product_descript-bottom">Рекомендовано зниження вмісту ЗЗР в середньому на 30% від встановленої виробником норми</p>
        </div>
        <ul class="attention-list list">
            <li class="attention">&#42; Оплата здійснюється у гривнях по курсу на день  продажу</li>
            <li class="attention">&#42;&#42; Фасування можливе на індивідуальне замовлення залежно від сільгоспкультури та обладнання</li>
            <li class="attention">&#42;&#42;&#42; Зовнішній вигляд фасування може відрізнятися від заявлених на сайті</li>
        </ul>
        <div class="graine_group">
            <h3 class="product_group-title">Обробка насіння</h3>
            <p class="product_group-text">Підвищує схожість і енергію проростання насіння; стимулює ріст, прискорює розвиток рослин; стимулює коренеутворення в рослин; забезпечує активне паросткоутворення; покращує приживаність розсади, сіянців і саджанців при пересадці</p>
            <ul class="product_group-list list">
                <li class="product-list_item">
                <div class="product-item_wrap">
                    <h4 class="product-item_title">MIR-Насіння-Зернові</h4>
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-wheat-desktop-1x.png 1x,
                            ./images/products/products-seeds-wheat-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-wheat-mobile-1x.png 1x,
                            ./images/products/products-seeds-wheat-mobile-2x.png 2x"/>
                        <img  class="product_item_img" src="./images/products/products-seeds-wheat-mobile-1x.png" alt="Білі коробки із кольорової етікеткої з продукцїєю МІР-насіння-зернові" />                      
                    </picture>      
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-wheat-price-desktop-1x.png 1x,
                            ./images/products/products-seeds-wheat-price-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-wheat-price-mobile-1x.png 1x,
                            ./images/products/products-seeds-wheat-price-mobile-2x.png 2x"/>
                        <img  class="product_item_price-img" src="./images/products/products-seeds-wheat-price-mobile-1x.png" alt="Зелений ціннік на якому ціна 3,8 долл за га" />                       
                    </picture>  
                    <p class="packaging-info">Фасування здійснюється на індивідуальне замовлення</p>   
                </div>
                </li>
                <li class="product-list_item">
                <div class="product-item_wrap">
                    <h4 class="product-item_title">MIR-Насіння-Ріпак</h4>
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-rape-desktop-1x.png 1x,
                            ./images/products/products-seeds-rape-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-rape-mobile-1x.png 1x,
                            ./images/products/products-seeds-rape-mobile-2x.png 2x"/>
                        <img  class="product_item_img" src="./images/products/products-seeds-rape-mobile-1x.png" alt="Білі коробки із кольорової етікеткої з продукцїєю МІР-насіння-ріпак" />                      
                    </picture>      
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-rape-price-desktop-1x.png 1x,
                            ./images/products/products-seeds-rape-price-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-rape-price-mobile-1x.png 1x,
                            ./images/products/products-seeds-rape-price-mobile-2x.png 2x"/>
                        <img  class="product_item_price-img" src="./images/products/products-seeds-rape-price-mobile-1x.png" alt="Зелений ціннік на якому ціна 5 долл за га" />                       
                    </picture>  
                    <p class="packaging-info">Фасування здійснюється на індивідуальне замовлення</p>   
                </div>
                </li>
                <li class="product-list_item">
                <div class="product-item_wrap">
                    <h4 class="product-item_title">MIR-Насіння-Соняшнік</h4>
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-sunflower-desktop-1x.png 1x,
                            ./images/products/products-seeds-sunflower-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-sunflower-mobile-1x.png 1x,
                            ./images/products/products-seeds-sunflower-mobile-2x.png 2x"/>
                        <img  class="product_item_img" src="./images/products/products-seeds-sunflower-mobile-1x.png" alt="Білі коробки із кольорової етікеткої з продукцїєю МІР-насіння-соняшнік" />                      
                    </picture>      
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-sunflower-price-desktop-1x.png 1x,
                            ./images/products/products-seeds-sunflower-price-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-sunflower-price-mobile-1x.png 1x,
                            ./images/products/products-seeds-sunflower-price-mobile-2x.png 2x"/>
                        <img  class="product_item_price-img" src="./images/products/products-seeds-sunflower-price-mobile-1x.png" alt="Зелений ціннік на якому ціна 4,6 долл за га" />                       
                    </picture>  
                    <p class="packaging-info">Фасування здійснюється на індивідуальне замовлення</p>   
                </div>
                </li>
                <li class="product-list_item">
                <div class="product-item_wrap">
                    <h4 class="product-item_title">MIR-Насіння-Кукурудза</h4>
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-corn-desktop-1x.png 1x,
                            ./images/products/products-seeds-corn-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-corn-mobile-1x.png 1x,
                            ./images/products/products-seeds-corn-mobile-2x.png 2x"/>
                        <img  class="product_item_img" src="./images/products/products-seeds-corn-mobile-1x.png" alt="Білі коробки із кольорової етікеткої з продукцїєю МІР-насіння-кукурудза" />                      
                    </picture>      
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-corn-price-desktop-1x.png 1x,
                            ./images/products/products-seeds-corn-price-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-corn-price-mobile-1x.png 1x,
                            ./images/products/products-seeds-corn-price-mobile-2x.png 2x"/>
                        <img  class="product_item_price-img" src="./images/products/products-seeds-corn-price-mobile-1x.png" alt="Зелений ціннік на якому ціна 4,1 долл за га" />                       
                    </picture>  
                    <p class="packaging-info">Фасування здійснюється на індивідуальне замовлення</p>   
                </div>
                </li>
            </ul>
        </div>

        <div class="leaf_group">
            <h3 class="product_group-title">Обробка по листу</h3>
            <p class="product_group-text">Підвищує стійкість рослин до несприятливих факторів навколишнього середовища (морози, нестача вологи, посадка на другий врожай, захворювання тощо); прискорює приріст зеленої маси рослин та дозрівання врожаю</p>
            <ul class="product_group-list list">
                <li class="product-list_item-update">
                    <div class="product-item_wrap-update">
                        <div class="card-title">
                            <h4 class="product-item_title">MIR-Лист</h4>
                            <p class="product-item_text">Використовується для зернових, зернобобових та олійних культур.</p>
                        </div>
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-leaf-desktop-1x.png 1x,
                                ./images/products/products-leaf-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-leaf-mobile-1x.png 1x,
                                ./images/products/products-leaf-mobile-2x.png 2x"/>
                            <img  class="product_item_img-update" src="./images/products/products-leaf-mobile-1x.png" alt="Білі коробки із кольорової етікеткої з продукцїєю МІР-лист" />                      
                        </picture>      
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-leaf-price-desktop-1x.png 1x,
                                ./images/products/products-leaf-price-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-leaf-price-mobile-1x.png 1x,
                                ./images/products/products-leaf-price-mobile-2x.png 2x"/>
                            <img  class="product_item_price-img-update" src="./images/products/products-leaf-price-mobile-1x.png" alt="Зелений ціннік на якому ціна 5 долл за га" />                       
                        </picture>  
                        <p class="packaging-info">Фасування здійснюється на індивідуальне замовлення</p>   
                    </div>
                </li>
                <li class="product-list_item-update">
                    <div class="product-item_wrap-update">
                        <div class="card-title">
                            <h4 class="product-item_title">MIR-Виноград</h4>
                            <p class="product-item_text">Використовується для виноградників</p>
                        </div>
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-grape-desktop-1x.png 1x,
                                ./images/products/products-grape-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-grape-mobile-1x.png 1x,
                                ./images/products/products-grape-mobile-2x.png 2x"/>
                            <img  class="product_item_img-update" src="./images/products/products-grape-mobile-1x.png" alt="Білі коробки із кольорової етікеткої з продукцїєю МІР-Виноград" />                      
                        </picture>      
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-grape-price-desktop-1x.png 1x,
                                ./images/products/products-grape-price-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-grape-price-mobile-1x.png 1x,
                                ./images/products/products-grape-price-mobile-2x.png 2x"/>
                            <img  class="product_item_price-img-update" src="./images/products/products-grape-price-mobile-1x.png" alt="Зелений ціннік на якому ціна 15 долл за га" />                       
                        </picture>  
                        <p class="packaging-info">Фасування здійснюється на індивідуальне замовлення</p>   
                    </div>
                </li>
            </ul>    
        </div>

        <div class="special_group">
            <h3 class="product_group-title">Спеціальна обробка</h3>
            <ul class="product_group-list list">
                <li class="product-list_item-update">
                    <div class="product-item_wrap-update">
                        <div class="card-title">
                            <h4 class="product-item_title">MIR-Десикант</h4>
                            <p class="product-item_text">Прискорює зменшення вологості рослинної маси, припинення розвитку рослини починаючи з кореневої системи, висушування стебла та листя</p>
                        </div>
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-desikant-desktop-1x.png 1x,
                                ./images/products/products-desikant-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-desikant-mobile-1x.png 1x,
                                ./images/products/products-desikant-mobile-2x.png 2x"/>
                            <img  class="product_item_img-update" src="./images/products/products-desikant-mobile-1x.png" alt="Білі коробки із кольорової етікеткої з продукцїєю МІР-десікант" />                      
                        </picture>      
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-desikant-price-desktop-1x.png 1x,
                                ./images/products/products-desikant-price-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-desikant-price-mobile-1x.png 1x,
                                ./images/products/products-desikant-price-mobile-2x.png 2x"/>
                            <img  class="product_item_price-img-update" src="./images/products/products-desikant-price-mobile-1x.png" alt="Зелений ціннік на якому ціна 4 долл за га" />                       
                        </picture>  
                        <p class="packaging-info">Фасування здійснюється на індивідуальне замовлення</p>   
                    </div>
                </li>
                <li class="product-list_item-update">
                    <div class="product-item_wrap-update">
                        <div class="card-title">
                            <h4 class="product-item_title">MIR-Універсал</h4>
                            <p class="product-item_text">Використовується для овочів, баштанних культур та фруктів</p>
                        </div>
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-universal-desktop-1x.png 1x,
                                ./images/products/products-universal-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-universal-mobile-1x.png 1x,
                                ./images/products/products-universal-mobile-2x.png 2x"/>
                            <img  class="product_item_img-update" src="./images/products/products-universal-mobile-1x.png" alt="Білі коробки із кольорової етікеткої з продукцїєю МІР-універсал" />                      
                        </picture>      
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-universal-price-desktop-1x.png 1x,
                                ./images/products/products-universal-price-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-universal-price-mobile-1x.png 1x,
                                ./images/products/products-universal-price-mobile-2x.png 2x"/>
                            <img  class="product_item_price-img-update" src="./images/products/products-universal-price-mobile-1x.png" alt="Зелений ціннік на якому ціна 0.75 долл за сотку" />                       
                        </picture>  
                        <p class="packaging-info">Фасування здійснюється на індивідуальне замовлення</p>   
                    </div>
                </li>
            </ul>    
        </div>

        <button class="cta_btn" type="button">Замовити</button>
    </div>
</section>