<section class="products" id="products">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">Products</h2>
            <div class="close-line"></div>
        </div>
        <div class="product_descript">
            <p class="product_decript-up">The matrix solution of the drug is used both separately and in tank mixtures with PPP and soluble fertilizers (stimulators)</p>
            <p class="product_descript-bottom">It is recommended to reduce the content of PPP by an average of 30% from the norm set by the manufacturer</p>
        </div>
        <ul class="attention-list list">
            <li class="attention">&#42; Packaging can be customized according to agricultural crop and equipment needs.</li>
            <li class="attention">&#42;&#42; The appearance of the packaging may differ from those shown on the website.</li>
            <li class="attention">&#42;&#42;&#42; The price on conditions FOB (Incoterms 2020)</li>
        </ul>
        <div class="graine_group">
            <h3 class="product_group-title">Seed treatment</h3>
            <p class="product_group-text">Improves seed germination and energy; stimulates growth and accelerates plant development; promotes root formation; ensures active sprout formation; enhances the survival of seedlings and transplants</p>
            <ul class="product_group-list list">
                <li class="product-list_item">
                <div class="product-item_wrap">
                    <h4 class="product-item_title">MIR-Seed-Cereals</h4>
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-wheat-desktop-1x.png 1x,
                            ./images/products/products-seeds-wheat-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-wheat-mobile-1x.png 1x,
                            ./images/products/products-seeds-wheat-mobile-2x.png 2x"/>
                        <img  class="product_item_img" src="./images/products/products-seeds-wheat-mobile-1x.png" alt="white boxes with company products with label MIR-Seed-Cereals" />                      
                    </picture>      
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-wheat-price-desktop-1x.png 1x,
                            ./images/products/products-seeds-wheat-price-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-wheat-price-mobile-1x.png 1x,
                            ./images/products/products-seeds-wheat-price-mobile-2x.png 2x"/>
                        <img  class="product_item_price-img" src="./images/products/products-seeds-wheat-price-mobile-1x.png" alt="green price tag - 3,8 dollars per he" />                       
                    </picture>  
                    <p class="packaging-info">Packaging is carried out on an individual order</p>   
                </div>
                </li>
                <li class="product-list_item">
                <div class="product-item_wrap">
                    <h4 class="product-item_title">MIR-Seed-Rapeseed</h4>
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-rape-desktop-1x.png 1x,
                            ./images/products/products-seeds-rape-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-rape-mobile-1x.png 1x,
                            ./images/products/products-seeds-rape-mobile-2x.png 2x"/>
                        <img  class="product_item_img" src="./images/products/products-seeds-rape-mobile-1x.png" alt="white boxes with company products with label MIR-Seed-Rapeseed" />                      
                    </picture>      
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-rape-price-desktop-1x.png 1x,
                            ./images/products/products-seeds-rape-price-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-rape-price-mobile-1x.png 1x,
                            ./images/products/products-seeds-rape-price-mobile-2x.png 2x"/>
                        <img  class="product_item_price-img" src="./images/products/products-seeds-rape-price-mobile-1x.png" alt="green price tag - 5 dollars per he" />                       
                    </picture>  
                    <p class="packaging-info">Packaging is carried out on an individual order</p>   
                </div>
                </li>
                <li class="product-list_item">
                <div class="product-item_wrap">
                    <h4 class="product-item_title">MIR-Seed-Sunflower</h4>
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-sunflower-desktop-1x.png 1x,
                            ./images/products/products-seeds-sunflower-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-sunflower-mobile-1x.png 1x,
                            ./images/products/products-seeds-sunflower-mobile-2x.png 2x"/>
                        <img  class="product_item_img" src="./images/products/products-seeds-sunflower-mobile-1x.png" alt="white boxes with company products with label MIR-Seed-Sunflower" />                      
                    </picture>      
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-sunflower-price-desktop-1x.png 1x,
                            ./images/products/products-seeds-sunflower-price-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-sunflower-price-mobile-1x.png 1x,
                            ./images/products/products-seeds-sunflower-price-mobile-2x.png 2x"/>
                        <img  class="product_item_price-img" src="./images/products/products-seeds-sunflower-price-mobile-1x.png" alt="green price tag - 4,6 dollars per he" />                       
                    </picture>  
                    <p class="packaging-info">Packaging is carried out on an individual order</p>   
                </div>
                </li>
                <li class="product-list_item">
                <div class="product-item_wrap">
                    <h4 class="product-item_title">MIR-Seed-Corn</h4>
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-corn-desktop-1x.png 1x,
                            ./images/products/products-seeds-corn-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-corn-mobile-1x.png 1x,
                            ./images/products/products-seeds-corn-mobile-2x.png 2x"/>
                        <img  class="product_item_img" src="./images/products/products-seeds-corn-mobile-1x.png" alt="white boxes with company products with label MIR-Seed-Corn" />                      
                    </picture>      
                    <picture>
                        <source
                            media="(min-width:1240px)"
                            srcset="./images/products/products-seeds-corn-price-desktop-1x.png 1x,
                            ./images/products/products-seeds-corn-price-desktop-2x.png 2x"/>
                        <source
                            media="(min-width:375px)"
                            srcset="./images/products/products-seeds-corn-price-mobile-1x.png 1x,
                            ./images/products/products-seeds-corn-price-mobile-2x.png 2x"/>
                        <img  class="product_item_price-img" src="./images/products/products-seeds-corn-price-mobile-1x.png" alt="green price tag - 4,1 dollars per he" />                       
                    </picture>  
                    <p class="packaging-info">Packaging is carried out on an individual order</p>   
                </div>
                </li>
            </ul>
        </div>

        <div class="leaf_group">
            <h3 class="product_group-title">Foliar treatment</h3>
            <p class="product_group-text">Increases plant resistance to adverse environmental factors (frosts, lack of moisture, second-harvest planting, diseases, etc.); accelerates the growth of plant green mass and crop ripening</p>
            <ul class="product_group-list list">
                <li class="product-list_item-update">
                    <div class="product-item_wrap-update">
                        <div class="card-title">
                            <h4 class="product-item_title">MIR-Foliar</h4>
                            <p class="product-item_text">Used for cereals, legumes, and oilseeds</p>
                        </div>
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-leaf-desktop-1x.png 1x,
                                ./images/products/products-leaf-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-leaf-mobile-1x.png 1x,
                                ./images/products/products-leaf-mobile-2x.png 2x"/>
                            <img  class="product_item_img-update" src="./images/products/products-leaf-mobile-1x.png" alt="white boxes with company products with label MIR-leaf" />                      
                        </picture>      
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-leaf-price-desktop-1x.png 1x,
                                ./images/products/products-leaf-price-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-leaf-price-mobile-1x.png 1x,
                                ./images/products/products-leaf-price-mobile-2x.png 2x"/>
                            <img  class="product_item_price-img-update" src="./images/products/products-leaf-price-mobile-1x.png" alt="green price tag - 5 dollars per he" />                       
                        </picture>  
                        <p class="packaging-info">Packaging is carried out on an individual order</p>   
                    </div>
                </li>
                <li class="product-list_item-update">
                    <div class="product-item_wrap-update">
                        <div class="card-title">
                            <h4 class="product-item_title">MIR-Grape</h4>
                            <p class="product-item_text">Used for vineyards</p>
                        </div>
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-grape-desktop-1x.png 1x,
                                ./images/products/products-grape-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-grape-mobile-1x.png 1x,
                                ./images/products/products-grape-mobile-2x.png 2x"/>
                            <img  class="product_item_img-update" src="./images/products/products-grape-mobile-1x.png" alt="white boxes with company products with label MIR-Grape" />                      
                        </picture>      
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-grape-price-desktop-1x.png 1x,
                                ./images/products/products-grape-price-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-grape-price-mobile-1x.png 1x,
                                ./images/products/products-grape-price-mobile-2x.png 2x"/>
                            <img  class="product_item_price-img-update" src="./images/products/products-grape-price-mobile-1x.png" alt="green price tag - 15 dollars per he" />                       
                        </picture>  
                        <p class="packaging-info">Packaging is carried out on an individual order</p>   
                    </div>
                </li>
            </ul>    
        </div>

        <div class="special_group">
            <h3 class="product_group-title">Specialized treatment</h3>
            <ul class="product_group-list list">
                <li class="product-list_item-update">
                    <div class="product-item_wrap-update">
                        <div class="card-title">
                            <h4 class="product-item_title">MIR-Desiccant</h4>
                            <p class="product-item_text">Speeds up the reduction of plant moisture, cessation of plant development from the root system, drying of stems and leaves</p>
                        </div>
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-desikant-desktop-1x.png 1x,
                                ./images/products/products-desikant-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-desikant-mobile-1x.png 1x,
                                ./images/products/products-desikant-mobile-2x.png 2x"/>
                            <img  class="product_item_img-update" src="./images/products/products-desikant-mobile-1x.png" alt="white boxes with company products with label MIR-Desicunt" />                      
                        </picture>      
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-desikant-price-desktop-1x.png 1x,
                                ./images/products/products-desikant-price-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-desikant-price-mobile-1x.png 1x,
                                ./images/products/products-desikant-price-mobile-2x.png 2x"/>
                            <img  class="product_item_price-img-update" src="./images/products/products-desikant-price-mobile-1x.png" alt="green price tag - 4 dollars per he" />                       
                        </picture>  
                        <p class="packaging-info">Packaging is carried out on an individual order</p>   
                    </div>
                </li>
                <li class="product-list_item-update">
                    <div class="product-item_wrap-update">
                        <div class="card-title">
                            <h4 class="product-item_title">MIR-Universal</h4>
                            <p class="product-item_text">Used for vegetables, melons, and fruits</p>
                        </div>
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-universal-desktop-1x.png 1x,
                                ./images/products/products-universal-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-universal-mobile-1x.png 1x,
                                ./images/products/products-universal-mobile-2x.png 2x"/>
                            <img  class="product_item_img-update" src="./images/products/products-universal-mobile-1x.png" alt="white boxes with company products with label MIR-Universal" />                      
                        </picture>      
                        <picture>
                            <source
                                media="(min-width:1240px)"
                                srcset="./images/products/products-universal-price-desktop-1x.png 1x,
                                ./images/products/products-universal-price-desktop-2x.png 2x"/>
                            <source
                                media="(min-width:375px)"
                                srcset="./images/products/products-universal-price-mobile-1x.png 1x,
                                ./images/products/products-universal-price-mobile-2x.png 2x"/>
                            <img  class="product_item_price-img-update" src="./images/products/products-universal-price-mobile-1x.png" alt="green price tag - 0,75 dollars per ar" />                       
                        </picture>  
                        <p class="packaging-info">Packaging is carried out on an individual order</p>   
                    </div>
                </li>
            </ul>    
        </div>

        <a href="#order" class="cta_btn">Order Now</a>
    </div>
</section>