<section class="project" id="project">
    <div class="container">
        <div class="section-title">
            <div class="open-line"></div>
            <h2 class="section_lable">Про проект</h2>
            <div class="close-line"></div>
        </div>
        <div>
            <h3 class="project-section_title">Приклади результатів використання препарату MIR</h3>
            <ul class="project-list list">
                <li class="project-list_item">
                    <svg class="project-list_icon" width="48" height="48">
                        <use href="./images/icons.svg#grape"></use>
                    </svg>
                    <h4 class="project_name">Виноград</h4>
                    <p class="project_type">2 обробки по листу</p>
                    <p class="project_harvest">Приріст урожаю&#58; 21&#37;</p>
                    <p class="project_fertilizer">Зниження використання ЗЗР&#58; 30&#37;</p>
                    <p class="project_object">Агрофірма &#34;Совхоз Білозерский&#34; Херсонська обл &#40;2021р&#41;</p>
                </li>
                <li class="project-list_item">
                    <svg class="project-list_icon" width="48" height="48">
                        <use href="./images/icons.svg#rape"></use>
                    </svg>
                    <h4 class="project_name">Ріпак</h4>
                    <p class="project_type">1 обробка насіння &#43; 1 обробка по листу</p>
                    <p class="project_harvest">Приріст урожаю&#58; 21&#37;</p>
                    <p class="project_fertilizer">Зниження використання ЗЗР&#58; 30&#37;</p>
                    <p class="project_object">ТОВ СП  &#34;Нібулон&#34; Миколаївська обл &#40;2021р&#41;</p>
                </li>
                <li class="project-list_item">
                    <svg class="project-list_icon" width="48" height="48">
                        <use href="./images/icons.svg#wheat"></use>
                    </svg>
                    <h4 class="project_name">Пшениця</h4>
                    <p class="project_type">1 обробка насіння &#43; 2 обробки по листу</p>
                    <p class="project_harvest">Приріст урожаю&#58; 55&#37;</p>
                    <p class="project_fertilizer">Зниження використання ЗЗР&#58; 30&#37;</p>
                    <p class="project_object">ТОВ &#34;Орташ Україна&#34; Миколаївська обл &#40;2021р&#41;</p>
                </li>
                <li class="project-list_item">
                    <svg class="project-list_icon" width="48" height="48">
                        <use href="./images/icons.svg#corn"></use>
                    </svg>
                    <h4 class="project_name">Кукурудза</h4>
                    <p class="project_type">1 обробка насіння &#43; 1 обробка по листу</p>
                    <p class="project_harvest">Приріст урожаю&#58; 32.5&#37;</p>
                    <p class="project_fertilizer">Зниження використання ЗЗР&#58; 30&#37;</p>
                    <p class="project_object">Херсонський  державний аграрно-економічний університет Херсонська обл &#40;2013р&#41;</p>
                </li>
                <li class="project-list_item">
                    <svg class="project-list_icon" width="48" height="48">
                        <use href="./images/icons.svg#watermelon"></use>
                    </svg>
                    <h4 class="project_name">Кавун</h4>
                    <p class="project_type">1 обробка насіння &#43; 2 обробки по листу</p>
                    <p class="project_harvest">Приріст урожаю&#58; 21&#37;</p>
                    <p class="project_fertilizer">Зниження використання ЗЗР&#58; 30&#37;</p>
                    <p class="project_object">СТОВ &#34;Нива&#34; Скадовського р-на, Херсонська обл &#40;2013р&#41;</p>
                </li>
                <li class="project-list_item">
                    <svg class="project-list_icon" width="48" height="48">
                        <use href="./images/icons.svg#sunflower"></use>
                    </svg>
                    <h4 class="project_name">Соняшник</h4>
                    <p class="project_type">1 обробка насіння &#43; 1 обробка по листу</p>
                    <p class="project_harvest">Приріст урожаю&#58; 25.6&#37;</p>
                    <p class="project_fertilizer">Зниження використання ЗЗР&#58; 30&#37;</p>
                    <p class="project_object">СТОВ &#34;Нива&#34; Скадовського р-на, Херсонська обл &#40;2013р&#41;</p>
                </li>
            </ul>
        </div>
        <a href="#order" class="cta_btn">Замовити</a>
       
    </div>
</section>