.section-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 40px;  
}

.section_lable {
      
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

@include desktop {
    .section_lable {         
        font-size: 40px;        
        line-height: 1.2;
    }    
}