.section_lable {
    margin-bottom: 40px;    
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

@include desktop {
    .section_lable {         
        font-size: 40px;        
        line-height: 1.2;
    }    
}