.navigation,
.header_btn {
    display: none;
}

.container-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 44px; 
    padding-top: 40px;   
}

.logo-img {
  width: 66px;
  height: 44px;
}

.language-switcher {
    display: flex;
    width: 60px;
    height: 32px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    
}

.english-switcher {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.ukrainian-switcher {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100vw;
  height: 100vh;
    
  padding-bottom: 64px;
  background-color: var(--background-color);
  transform: translateX(100%);
  transition: transform var(--time-duration) var(--timing-function);
  z-index: 50;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-open-btn,
.mobile-menu-close-btn {
    display: inline-flex;
    width: 32px;
    height: 32px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-toggle {    
  display: flex;
  align-items: center;
  justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
 }

.menu-container__overall {
  position: relative;
    display: flex;
            
    margin-bottom: 51px; 
    padding-top: 12px;
    padding-left: 32px; 
    padding-right: 20px;  
}

.menu-container__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .mobile-menu__link{
      font-size: 32px;
      font-weight: 700;
      line-height: 1.22;
      text-align: center;
      color: var(--main-color); 
      transition: color var(--time-duration) var(--timing-function);            
    }

  .mobile-menu__link:hover,
  .mobile-menu__link:focus {
    color: var(--hover-color);
  }

  .mobile-menu__item + .mobile-menu__item {
    margin-top: 32px;
  }
    
   .mobile-menu-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  .mobile-header_btn {
    min-width: 152px;
        height: 42px;
        margin-top: 110px;
        border: 1px solid transparent;
        border-radius: 10px;
    
        font-family: inherit;   
        font-size: 14px;
        font-weight: 600;
        line-height: 1.21;
        
        text-align: center;
        cursor: pointer;
    
        background-color: var(--accent-color);

        transition: color var(--time-duration) var(--timing-function);
        transition: background-color var(--time-duration) var(--timing-function)
    }

  .mobile-header_btn:hover {
    color: var(--main-color);
    background-color: var(--hover-color);
  }

  .mobile-header_btn:focus {
    color: var(--main-color);
    background-color: var(--hover-color);
  }

@include desktop {
  .menu-container, .mobile-menu-open-btn {
    display: none;
  }
    .container-header {        
        padding-top: 8px;    
    }
    
    .logo-img {
      width: 132px;
      height: 88px;
      margin-right: 0;
    }

    .navigation {
      display: flex;
    }

    .nav-list {
        display: flex;
    }
    
    .nav_item {
        display: block;
        margin-right: 28px;
        padding-top: 32px;
        padding-bottom: 13px;
    }
    
    .nav_item:last-child {
        margin-right: 0;
    }
    
    .nav_item .link {   
        font-size: 20px;
        line-height: 1.8;
    
        color: var(--main-color);    
    }
    
    .nav_item .link:hover,
    .nav_item .link:focus {
        color: var(--accent-color);
    }
    
    .header_btn {
      margin-left: 0;
      margin-bottom: 3px;
    }
}