.backArrow_icon {
    margin-bottom: 40px;
}

.section_lable.personal {
    margin-bottom: 80px;
}

.personaldata_list {
    margin-bottom: 60px;
    font-weight: 300;
}

.personaldata_list-title{
    margin-bottom: 30px;
}